@model WebApplication_04.Models.StudentViewModel
<table>
    <tr>
        <th>Sl</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
    </tr>
    @{ int i = 1;}
    @foreach (var student in Model.Students)
    {
        <tr>
            <td>@(i++)</td>
            <td>@student.Name</td>
            <td>@student.Email</td>
            <td>@student.Contact</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Student", new { Id = student.Id }, null)
            </td>
        </tr>
    }

</table>

