@model WebApplication_04.Models.StudentViewModel



    <link href="~/Contents/CSS/Student/Add.css" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Add/User</title>

    <center>
        <h2 style="color:darkgreen"> Create New User</h2>

        <div class="menu">
            <form method="post">
                <table>
                    <tr>
                        <td>@Html.LabelFor(c => c.Name)</td>
                        <td>@Html.TextBoxFor(c => c.Name, Model.Name, new { @placeholder = "User Name" })</td>
                        <td>@Html.ValidationMessageFor(c => c.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(c => c.Email)</td>
                        <td>@Html.TextBoxFor(c => c.Email, Model.Email, new { @placeholder = "Email Address" })</td>
                        <td>@Html.ValidationMessageFor(c => c.Email)</td>

                    </tr>
                    <tr>
                        <td>@Html.LabelFor(c => c.Contact)</td>
                        <td>@Html.TextBoxFor(c => c.Contact, Model.Contact, new { @placeholder = "Cell Number" })</td>
                        <td>@Html.ValidationMessageFor(c => c.Contact)</td>
                    </tr>
                    <tr>
                        <td> Action </td>
                        <td><input class='btn btn-info btn-xs' type="submit" value="Create" /></td>
                        <td>
                            @if (ViewBag.Message != null)
                            {
                                <h3>
                                    <b>
                                        @ViewBag.Message
                                    </b>
                                </h3>
                            }
                        </td>
                    </tr>
                </table>
            </form>
            @{
                Html.RenderPartial("~/Views/Shared/Student/_StudentDetails.cshtml", Model);
            }
        </div>
    </center>

    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
